@import 'variables';
@import 'base';
@import 'mixins'




.container {
    display: flex;
    justify-content: space-around;
    

    .box {
        width: 30%;
        background-color: white;
        color: black;
        border-radius: 8px;
        padding: 25px;

        &.active {
            background-color: $color-secondary;
        }

        h2 {
            font-size: 22px;
            margin: 10px 20px 30px 20px;
            font-family: $font-primary;
        }

        p {
            font-size: 18px;
            font-family: $font-secondary;

            &.hidden {
                display: none;
            }
        }
        ul {
            @include reset-list();
        }

        a {
            color: green;

            &:hover {
               color: yellow; 

               & + p.hidden {
                display: block;
               }
            }

        }

    }
}