div {
    width: 200px;
    height: 200px;
    background: yellow;
    overflow: auto;

}


p {

}

a {
    display: inline-block;
}

ul {
    background: grey;
    padding: 15px 0px;
}

li {
    display: inline;
    margin: 30px;
}