
* {
    margin: 0;
    padding: 8;
}
.quadrado {
    position: fixed;
    left: 800px;
    bottom: 150px;
    width: 100px;
    height: 100px;
    background: black;
    color: white;
    font-size: 20px;
}


p {
    margin: 50px;
    width: 300px;
}


.circulo {
    position: absolute;
    top: 620px;
    left: 800px;
    width: 100px;
    height: 100px;
    background: red; 
    border-radius: 50%;
    color: white;
    font-size: 20px;
}
