.conteudo {
    position: relative;
    height: 500px;
    border: 1px solid black;
    padding: 20px;
}

.quadrado {
    position: absolute;
    left: 150px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    background: black;
    color: white;
    font-size: 20px;
    
}

.circulo {
    position: fixed;
    left: 150px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    background: black;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    background: red;
    
}