* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

.header {
    background-color: grey;
    text-align: center;
    padding: 0px 0;
    font-size: 40px;
}


.container {
    display: flex;
}


.navbar {
    width: 30%;
    background: #a3a3a3;
    padding: 20px 5px;
}
section nav ul {
    margin: 20px;
}

section nav ul li {
    background-image: linear-gradient(90deg, #c1a339 10%, #87817f 90%);
    border-radius: 15px 0;
    border: 1px solid grey;
    padding: 7px 0 7px 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0px;
    box-shadow: 0 0 15px black;

}

section nav ul li a {
    text-decoration: none;
}


.list-ponto {
    list-style: none;

}

.content {
    width: 70%;
    background: #d4d4d4;
    padding: 30px;
}

.footer {
    background-color: grey;
    text-align: center;
    padding: 20px 0;
}